<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwwthyneleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Eu vou ser um analista baby</title>	
	</head>
	<body>
	Eu vou ser um analista baby!!!
	<table class="table table-sm table-striped table-houver table-bordered">
	<thead>
		<tr>
			<th>Codigo</tr>
			<th>Cliente</th>
			<th>Venda</th>	
		</tr>
		</thead>
		<tdody>
			<tr th:each="venda: ${venda}">
				<td th:text="${venda.ven_codigo}"></td>	
				<td th:text="${venda.cli_codigoFK}"></td>	
				<td th:text="${venda.venda_data}"></td>	
		</tr>	
		</tdody>
	</table>
	</body>
</html>
