<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://wwwthyneleaf.org">
	<head>
	<meta charset="ISO-8859-1">
	<title>Eu vou ser um analista baby</title>	
	</head>
	<body>
	Eu vou ser um analista baby!!!
	<table class="table table-sm table-striped table-houver table-bordered">
	<thead>
		<tr>
			<th>ID</tr>
			<th>Primeiro Nome</th>	
		</tr>
		</thead>
		<tdody>
			<tr th:each="vendedor : ${vendedor}">
				<td th:text="${vendedor.Id}"></td>	
				<td th:text="${vendedor.nome}"></td>	
		</tr>	
		</tdody>
	</table>
	</body>
</html>
